[user]
    name = Raphael Nepomuceno
    email = 58113327+rphln@users.noreply.github.com

[alias]
    history = log --pretty=format:'%Cred(%h) %Creset%s %Cgreen(%ar) %Cblue<%an>'

    unstage = reset HEAD
    uncommit = reset --soft HEAD^

    standup = "!f() { exec git ${@:-history} --since yesterday; }; f"
    today = "!f() { exec git ${@:-history} --since midnight; }; f"

    exec = "!exec "
    trust = "!mkdir --parents .git/safe"

    ignore = "!f() { exec curl -sL https://www.gitignore.io/api/$@; }; f"

[diff]
    algorithm = histogram

[pull]
    rebase = true

[fetch]
    prune = true

[rebase]
    autostash = true
    autosquash = true

[commit]
    verbose = true

[diff "markdown"]
    xfuncname = "^#.*"

[diff "jupyter"]
    textconv = jupytext --to md --output -

[filter "pandoc"]
    clean = pandoc --to gfm
