[user]
    name = Raphael Nepomuceno
    email = 58113327+rphln@users.noreply.github.com

[alias]
    history = log --pretty=format:'%Cred(%h) %Creset%s %Cgreen(%ar) %Cblue<%an>'

    standup = history --since yesterday
    today = history --since midnight

    exec = "!exec "

[diff]
    algorithm = histogram

[pull]
    rebase = true

[fetch]
    prune = true

[rebase]
    autostash = true
    autosquash = true

[commit]
    verbose = true
