[submodule "_nvim/pack/vendor/start/ale"]
	path = _nvim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "_nvim/pack/vendor/start/editorconfig-vim"]
	path = _nvim/pack/vendor/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "_nvim/pack/vendor/start/auto-pairs"]
	path = _nvim/pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "_nvim/pack/vendor/start/fzf"]
	path = _nvim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "_nvim/pack/vendor/start/fzf.vim"]
	path = _nvim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "_nvim/pack/vendor/start/vim-mucomplete"]
	path = _nvim/pack/vendor/start/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "_nvim/pack/vendor/start/undotree"]
	path = _nvim/pack/vendor/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "_nvim/pack/vendor/start/vim-signify"]
	path = _nvim/pack/vendor/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "_nvim/pack/vendor/start/vim-startify"]
	path = _nvim/pack/vendor/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "_nvim/pack/vendor/start/gruvbox"]
	path = _nvim/pack/vendor/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "_nvim/pack/vendor/start/vim-polyglot"]
	path = _nvim/pack/vendor/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "_nvim/pack/vendor/start/neosnippet-snippets"]
	path = _nvim/pack/vendor/start/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "_nvim/pack/vendor/start/neosnippet.vim"]
	path = _nvim/pack/vendor/start/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "_nvim/pack/vendor/start/vim-lion"]
	path = _nvim/pack/vendor/start/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "_nvim/pack/vendor/start/vim-abolish"]
	path = _nvim/pack/vendor/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "_nvim/pack/vendor/start/vim-commentary"]
	path = _nvim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "_nvim/pack/vendor/start/vim-eunuch"]
	path = _nvim/pack/vendor/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "_nvim/pack/vendor/start/vim-fugitive"]
	path = _nvim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "_nvim/pack/vendor/start/vim-repeat"]
	path = _nvim/pack/vendor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "_nvim/pack/vendor/start/vim-rhubarb"]
	path = _nvim/pack/vendor/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "_nvim/pack/vendor/start/vim-surround"]
	path = _nvim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_nvim/pack/vendor/start/vim-unimpaired"]
	path = _nvim/pack/vendor/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
