[submodule "_nvim/pack/default/start/vim-signify"]
	path = _nvim/pack/vendor/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-startify"]
	path = _nvim/pack/vendor/start/vim-startify
	url = https://github.com/mhinz/vim-startify.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-polyglot"]
	path = _nvim/pack/vendor/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	shallow = true
[submodule "_nvim/pack/default/start/neosnippet-snippets"]
	path = _nvim/pack/vendor/start/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
	shallow = true
[submodule "_nvim/pack/default/start/neosnippet.vim"]
	path = _nvim/pack/vendor/start/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-abolish"]
	path = _nvim/pack/vendor/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-commentary"]
	path = _nvim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-eunuch"]
	path = _nvim/pack/vendor/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-fugitive"]
	path = _nvim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-repeat"]
	path = _nvim/pack/vendor/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-rhubarb"]
	path = _nvim/pack/vendor/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
	shallow = true
[submodule "_nvim/pack/default/start/vim-sleuth"]
	path = _nvim/pack/vendor/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-surround"]
	path = _nvim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-unimpaired"]
	path = _nvim/pack/vendor/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-quantum"]
	path = _nvim/pack/vendor/start/vim-quantum
	url = https://github.com/tyrannicaltoucan/vim-quantum.git
	shallow = true
[submodule "_nvim/pack/vendor/start/ctrlp.vim"]
	path = _nvim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	shallow = true
[submodule "_nvim/pack/vendor/nvim-lsp"]
	path = _nvim/pack/vendor/opt/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
	shallow = true
