[submodule "_nvim/pack/default/start/fzf"]
	path = _nvim/pack/default/start/fzf
	url = git://github.com/junegunn/fzf.git
	shallow = true
[submodule "_nvim/pack/default/start/fzf.vim"]
	path = _nvim/pack/default/start/fzf.vim
	url = git://github.com/junegunn/fzf.vim.git
	shallow = true
[submodule "_nvim/pack/default/start/neosnippet.vim"]
	path = _nvim/pack/default/start/neosnippet.vim
	url = git://github.com/Shougo/neosnippet.vim.git
	shallow = true
[submodule "_nvim/pack/default/start/neosnippet-snippets"]
	path = _nvim/pack/default/start/neosnippet-snippets
	url = git://github.com/Shougo/neosnippet-snippets.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-abolish"]
	path = _nvim/pack/default/start/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-commentary"]
	path = _nvim/pack/default/start/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-eunuch"]
	path = _nvim/pack/default/start/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-fugitive"]
	path = _nvim/pack/default/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-polyglot"]
	path = _nvim/pack/default/start/vim-polyglot
	url = git://github.com/sheerun/vim-polyglot.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-repeat"]
	path = _nvim/pack/default/start/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-sleuth"]
	path = _nvim/pack/default/start/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-surround"]
	path = _nvim/pack/default/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
	shallow = true
[submodule "_nvim/pack/default/opt/nvim-lsp"]
	path = _nvim/pack/default/opt/nvim-lsp
	url = git://github.com/neovim/nvim-lsp.git
	shallow = true
[submodule "_nvim/pack/default/start/vim-quantum"]
	path = _nvim/pack/default/start/vim-quantum
	url = git://github.com/tyrannicaltoucan/vim-quantum.git
	shallow = true
