$include /etc/inputrc

set bind-tty-special-chars off

set show-all-if-ambiguous on
set show-all-if-unmodified on

set skip-completed-text on

set colored-stats on
set colored-completion-prefix off

set match-hidden-files off

set mark-directories off
set mark-symlinked-directories off

set menu-complete-display-prefix on

set completion-query-items 0
set page-completions off

set completion-ignore-case on

Tab: menu-complete
"\e[Z": menu-complete-backward

Control-u: kill-whole-line
Control-w: backward-kill-word

"\e;": history-and-alias-expand-line

"\e[A": history-search-backward
"\e[B": history-search-forward

"\es": "\C-asudo "
